# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.pnpm-store/

# Compilados de React
frontend/build/
frontend/dist/
dist/
build/

# Archivos de entorno (⚠️ importantes: no subir)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
logs/
*.pid
*.seed
*.pid.lock

# Cache
.cache/
.parcel-cache/
.next/
out/
.tmp/
temp/
.vite/

# IDEs / Editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Sistema operativo
.DS_Store
Thumbs.db

# Test / Coverage
coverage/
*.lcov

# Otros archivos innecesarios
*.bak
*.old
*.swp
*.zip
*.tar
*.gz
